<%- include("components/header.ejs") %>
<%- include("components/navbar.ejs") %>
    <section class="container">
        <div class="row">
            <div class="col-12  ">
                <h3 class="page-title">Hallo, Abdellah charki</h3>
            </div>


            <div class="col-3">
                <div class="card text-center">
                   
                    <div class="card-body">
                        <i class="fas fa-book-reader fa-2x    "></i>
                        <h6 class="card-title mt-3">Courses</h6>
                    </div>
                </div>
            </div>


            <div class="col-3">
                <div class="card text-center">
                   
                    <div class="card-body">
                        <i class="fas fa-paragraph fa-2x    "></i>
                        <h6 class="card-title mt-3">Topics</h6>
                    </div>
                </div>
            </div>

          
          
            <div class="col-3">
                <div class="card text-center">
                   
                    <div class="card-body">
                        <i class="fas fa-edit fa-2x    "></i>
                        <h6 class="card-title mt-3">Notes</h6>
                    </div>
                </div>
            </div>

          
            <div class="col-3">
                <div class="card text-center">
                   
                    <div class="card-body">
                        <i class="fas fa-book fa-2x    "></i>
                        <h6 class="card-title mt-3">Books</h6>
                    </div>
                </div>
            </div>

          

        

   

  


        </div>
    </section>
 
 <%- include("components/footer.ejs") %>