<%- include("components/header.ejs") %>
    <%- include("components/navbar.ejs") %>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title">My Todos</h2>
                <a href="/topics/new" class="btn act-btn float-end">new Todo</a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                       <li class="breadcrumb-item active" aria-current="page">My Todos</li>
                    </ol>
                  </nav>
                  <hr>
            </div>

            <div class="col-12  ">
  

                <div class="todo-item">
                    <a href="/topics/"><h2> d d d d d</h2></a>
                    <p class="create_datum"><i class="fas fa-calendar-alt    "></i> aded at: 15.25.26 78:44</p>
                    <!-- <p class="m-0">A complete guide on how to refresh auth token while using react-query  </p> -->
                 </div>
               
                

            </div>
        </div>
    </section>
 
 <%- include("components/footer.ejs") %>