<%- include("../components/header.ejs") %>
    <%- include("../components/navbar.ejs") %>


        <section class="sec-header notes_bnner"  >
             
                <div  >
                     
                        <h5 class="page-title">My Notes</h5>
                    
                </div>
          

        </section>



        <section  class="notes-space">
            <div class="notes-list">dd</div>
            <div class="notes-content paper">ddd Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, alias enim, voluptates ut numquam labore corporis sapiente maiores repudiandae facilis ratione minus iure laborum neque animi deserunt explicabo provident voluptate?</div>
  
        </section>


        <%- include("../components/editor.ejs") %>
            <%- include("../components/footer.ejs") %>