.dash-card{
    
    .dash-item{
        padding: 15px;
        border-radius: 10px;
        height: 127px;
        background: #55535be0;
        border: 1px solid #ddd;
        color: #fff;
        text-align: center;
        h3{
            margin: 0;

        }
        span{
            font-size: 45px;

        }
    }
}