.tabs_nav{
  list-style: none;
  margin-bottom: 0;
  li{
    display: inline-flex;
    a{
      padding: 6px 12px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin-bottom: -2px;
      z-index: 22;
      border: 1px solid #fff0;
      border-bottom-style: none;
      text-decoration: none;
      color: #000;
    
      &.active{
        border-color: #bfbfbf;
        background: #fff;
        font-weight: 600;
      }
    }
  }
}